<footer class="footer-top">
    <div class="bottom-line"></div>

    <div class="socials">
        <a href="https://github.com/yourusername">
            <img src="/icons/github.svg" alt="GitHub">
        </a>

        <a href="https://x.com/yourhandle">
            <img src="/icons/TwitterX.svg" alt="X">
        </a>

        <a href="https://linkedin.com/in/yourprofile">
            <img src="/icons/LinkedIn.svg" alt="LinkedIn">
        </a>

        <a href="/https://hackerone.com/in/yourprofile">
            <img src="/icons/HackerOne.svg" alt="HackerOne">
        </a>

        <a href="/https://tryhackme.com/in/yourprofile">
            <img src="/icons/TryHackMe.svg" alt="TryHackMe">
        </a>

        <a href="/https://rootme.com/in/yourprofile">
            <img src="/icons/Root-Me.svg" alt="Root-Me">
        </a>

        <a href="/https://ctftime.com/in/yourprofile">
            <img src="/icons/CTFtime.svg" alt="CTFtime">
        </a>

        <a href="/https://kofi.com/in/yourprofile">
            <img src="/icons/Ko-fi.svg" alt="Ko-fi">
        </a>

        <a href="/index.xml">
            <img src="/icons/RSS.svg" alt="RSS">
        </a>
    </div>

     <p class="copyright">
        © 2026 Deepan Sai
    </p>

</footer>

<footer class="footer">
    <div class="footer-grid">

        <div class="footer-brand">
            <h3>DEEPAN_</h3>
            <p>© 2026 DEEPAN SAI</p>
            <p>ALL RIGHTS RESERVED.</p>
        </div>

        <div>
            <h4>NAVIGATION</h4>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Skills</li>
                <li>Projects</li>
                <li>Contact</li>
            </ul>
        </div>

        <div>
            <h4>RESOURCES</h4>
            <ul>
                <li>Blog</li>
                <li>Research</li>
                <li>Notes</li>
                <li>Portfolio</li>
            </ul>
        </div>

        <div>
            <h4>SOCIALS</h4>
            <ul>
                <li>GitHub</li>
                <li>LinkedIn</li>
                <li>X/Twitter</li>
                <li>Email</li>
            </ul>
        </div>

    </div>

    <div class="hazard-strip"></div>
</footer>