{{ define "main" }}

<section class="site-content">

    <div class="hero-nav">

        <a href="/resume.pdf" class="resume-btn" target="_blank">

            RESUME

            <span>↗</span>

        </a>

        <button class="menu-btn">

            <span></span>
            <span></span>

        </button>

    </div>

    <section class="hero">

        <div class="terminal-window">

            <div class="terminal-header">
                ~:bash>console
            </div>

            <div id="terminal-output">

                <div class="line">
                    <span class="prompt">root@root:~$</span>
                    neofetch
                </div>

                <div class="line">
                    Welcome to Deepan Sai's research terminal.
                </div>

                <div class="line">
                    Type <b>help</b> to get started.
                </div>

            </div>

            <div class="terminal-input-row">

                <span class="prompt">
                    root@root:~$
                </span>

                <input
                    id="terminal-input"
                    type="text"
                    autofocus>

            </div>

        </div>

    </section>

</section>

{{ end }}