{{ define "main" }}

<section class="contact-section">

    <div class="contact-left">
        <h1 class="contact-title">
            <span class="lets">LET'S</span>
            <span class="talk">TALK</span>
        </h1>
    </div>

    <div class="contact-right">

        <h3>CONTACT</h3>

        <form>

            <div class="input-row">
                <input type="text" placeholder="ENTER NAME">
                <input type="email" placeholder="ENTER MAIL">
            </div>

            <textarea placeholder="SUBJECT"></textarea>

            <button class="submit-btn">
                SUBMIT
                <span class="arrow">↗</span>
            </button>

        </form>

    </div>

</section>

{{ end }}